{% extends "base.html" %}
    {% block title-content %}
    <title>Chingoal_My_Test_Collection</title>
    {% endblock %}

    {% block head %}
    {% load static %}
    <link href="{% static "css/custom_discussion_board.css"%}" rel="stylesheet">    {% endblock %}
    {% block head-origin %}
    {% endblock %}

    {% block main-content %}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Chingoal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'dashboard' %}">Lessons</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'discussion_home' %}">Discussion</a>
                    </li>
                    {% if flag == 1 %}
                     <li>
                           <a href="{% url 'testcreate' %}">Create Test</a>                   
                    </li>   
                    {% else %}
                    
                    <li>
                    <a class="page-scroll" href="{% url 'store' %}">Store</a> 
                        </li>
                    {% endif %}


                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'viewProfile' username %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="{% url 'editProfile' %}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                    </li>   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">    

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Posts</h2>
                <h3 class="section-subheading text-muted">Here you can post any questions you might have and get all of them solved!</h3>
            </div>                
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <table class="table table-hover" id="post_table">
                <thead>
                    <tr>
                    <td>#</td>
                    <td>Test id</td>
                    <td>Level</td>
                    <td>Post</td>
                    </tr>
                </thead>
                {% for test in tests %}
                    <tr>
                        <td></td>
                        <td><a href="{% url 'testreviewpost' test.id %}">{{test.id}}</a></td>
                        <td>{{test.level}}</td>
                        <td>{{test.postflag}}</td>
                    </tr>
                {% endfor %}                
                </table>
            </div>
            <div class="col-lg-1"></div>            
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
            <div class="row">
<!--                 <button class="btn btn-primary btn-lg post_btn" data-toggle="modal" data-target="#myModal">New Post</button>
                <a class="btn btn-primary btn-lg bt1" href="{% url 'chat' %}">Going to chatroom</a>
                <a class="btn btn-primary btn-lg bt2" href="{% url 'video' %}">Going to videoroom</a>
 -->            </div>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </section>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                    </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}


    {% block origin-script %}
    {% endblock %}







