<form action="{% url 'testsavetrquestion' id %}" method="post">
<div class="panel panel-success">
<div class="panel-heading">
Question <p class="question-num" style="display:inline">{{id}}</p> (Word Translate)
</div>
<div class="panel-body">
<div class="form-group">
<label>Input the question content</label>
<div class="row">
{% if form.question.errors %}
<div class="col-lg-8">{{form.question}}</div>
<div class="col-lg-4" style="color:red">{{form.question.errors}}</div>
{% else %}
<div class="col-lg-12">{{form.question}}</div>
{% endif %}
</div>
<br>
<label>Input the answer content</label>
<div class="row">
{% if form.explanation.errors %}
<div class="col-lg-8">{{form.explanation}}</div>
<div class="col-lg-4" style="color:red">{{form.explanation.errors}}</div>
{% else %}
<div class="col-lg-12">{{form.explanation}}</div>
{% endif %}
</div>
</div>            
</div>
<div class="panel-footer">
<button type="button" class="btn btn-info save-btn">Save</button>
<button type="button" class="btn btn-danger delete-btn">Delete</button>
</div>
</div>
</form>
