body{
	text-align:center;
	background:url(../img/profile_bg.jpg);
	}
	
.style{
	
	width:600px;
	font-weight:bold;
	font-size:18px;
	margin-left:auto;
	margin-right:auto;
	margin-top:200px;
	}

#button1{
	border:1px black solid;
	background-color: #ffffff;
	border-radius:15px;
	opacity:0.6;
	position:relative;
	top:10px;
	left:20px;
	font-size:15px;
	font-weight:bold;
	}