{% extends "base.html" %}


    {% block title-content %} 
    <title>Chingoal_Store</title>
    {% endblock %}

    {% block head %}
    {% load static %}
    <link href="{% static "css/custom_store.css"%}" rel="stylesheet">
    {% endblock %}
    {% block head-origin %}
    {% endblock %}

    {% block main-content %}
   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Chingoal</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'dashboard' %}">Lessons</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'discussion_home' %}">Discussion</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#">Store</a>                       
                    </li>
                    <li class="dropdown">
                        {% if hasnewmsg == 'no' %}
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="msgbar">
                            {% else %}
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="msgbar" style="color:red">
                                {% endif %}
                            <i class="fa fa-envelope fa-fw"></i><i id="newmsg">{{msgcount}}</i><i class="fa fa-caret-down"></i>
                        </a>
                        <ul id="msglist" class="dropdown-menu dropdown-user">
                            {% for msg in newmsgs %}
                            <li>{% if msg.isReply %}<a data-toggle="modal" data-target="#reply_box{{ msg.id }}">
                                {% else %}<a data-toggle="modal" data-target="#reply_box{{ msg.id }}" style="color:red;">
                                    {% endif %}
                                    <i class="fa fa-comment fa-fw"></i>{{msg.sender}}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                             <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="{% url 'viewProfile' username %}"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li><a href="{% url 'editProfile' %}"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                    </li>   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

     <!-- store Section -->
    <section id="portfolio" >
        <!--div class="container"-->
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading header1">Chingoal Store</h2>
                    <h3 class="section-subheading text-muted subtitle">Enjoy Yourself.</h3>
                    <span class="header1 vm">You Virtual Money:{{cur_user.user_vm}}</span>
                </div>   
          <div class="container">
            <div class="row">
                <div class="col-sm-6 ">
                    <h3 class="header">Use Your Virtual Money To Buy A Title</h3><br/>
                    <span>{{error}}</span>
                </div>
             </div>   
            <div class="row bg-light-gray">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "img/team/2.jpg"%}" class="img-responsive img-circle title_img" alt="" onClick="buyTitle(0,'{{cur_user.title}}',{{cur_user.user_vm}})">
                        <h4 class="header1">Pupil</h4>
                        <p class="text-muted">free</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "img/team/4.jpg"%}" class="img-responsive img-circle title_img" alt="" onClick="buyTitle(1,'{{cur_user.title}}',{{cur_user.user_vm}})">
                        <h4 class="header1">Freshman</h4>
                        <p class="text-muted">$3</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "img/team/1.jpg"%}" class="img-responsive img-circle title_img" alt="" onClick="buyTitle(2,'{{cur_user.title}}',{{cur_user.user_vm}})">
                        <h4 class="header1">Sophomore</h4>
                        <p class="text-muted">$4</p>
                    </div>
                </div>
            </div>
      
             <div class="row bg-light-gray">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "img/team/3.jpg"%}" class="img-responsive img-circle title_img" alt="" onClick="buyTitle(3,'{{cur_user.title}}',{{cur_user.user_vm}})">
                        <h4 class="header1">Junior</h4>
                        <p class="text-muted">$5</p>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "img/team/5.jpg"%}" class="img-responsive img-circle title_img" alt="" onClick="buyTitle(4,'{{cur_user.title}}',{{cur_user.user_vm}})">
                        <h4 class="header1">Senior</h4>
                        <p class="text-muted">$6</p>
     
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{% static "img/team/6.jpg"%}" class="img-responsive img-circle title_img" alt="" onClick="buyTitle(5,'{{cur_user.title}}',{{cur_user.user_vm}})">
                        <h4 class="header1">Graduate</h4>
                        <p class="text-muted">$7</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 ">
                    <h3 class="header">Do you want to learn more?</h3><br/>
                </div>
             </div> 
             <div class="row">
                    <div class="panel panel-default bg-light-gray">
                        <div class="panel-body col-md-offset-1">

                            {% if cur_user.unlock > 0 %}<button type="button" class="btn btn-default btn-lg btn-circle">
                            <span class="fa fa-unlock"></span>
                            {% else %}<button type="button" id="myButton1" value="1" class="btn btn-default btn-lg btn-circle" onClick="unlock('myButton1',{{cur_user.unlock}},{{cur_user.user_vm}})">
                            <span class="fa fa-lock"></span>
                            {% endif %} Session 1</button>
                            
                            {% if cur_user.unlock > 1 %}<button type="button" class="btn btn-danger btn-lg btn-circle">
                            <span class="fa fa-unlock"></span>
                            {% else %}<button type="button" id="myButton2" value="2" class="btn btn-danger btn-lg btn-circle" onClick="unlock('myButton2',{{cur_user.unlock}},{{cur_user.user_vm}})">
                            <span class="fa fa-lock"></span>
                            {% endif %} Session 2</button>
                            
                            {% if cur_user.unlock > 2 %}<button type="button" class="btn btn-info btn-lg btn-circle">
                            <span class="fa fa-unlock"></span>
                            {% else %}<button type="button" id="myButton3" value="3" class="btn btn-info btn-lg btn-circle" onClick="unlock('myButton3',{{cur_user.unlock}},{{cur_user.user_vm}})">
                            <span class="fa fa-lock"></span>
                            {% endif %} Session 3</button>
                            
                            {% if cur_user.unlock > 3 %}<button type="button" class="btn btn-warning btn-lg btn-circle">
                            <span class="fa fa-unlock"></span>
                            {% else %}<button type="button" id="myButton4" value="4" class="btn btn-warning btn-lg btn-circle" onClick="unlock('myButton4',{{cur_user.unlock}},{{cur_user.user_vm}})">
                            <span class="fa fa-lock"></span>
                            {% endif %} Session 4</button>
                            
                            {% if cur_user.unlock > 4 %}<button type="button" class="btn btn-success btn-lg btn-circle">
                            <span class="fa fa-unlock"></span>
                            {% else %}<button type="button" id="myButton5" value="5" class="btn btn-success btn-lg btn-circle" onClick="unlock('myButton5',{{cur_user.unlock}},{{cur_user.user_vm}})">
                            <span class="fa fa-lock"></span>
                            {% endif %} Session 5</button>


                           <!--  <button type="button" class="btn btn-default btn-lg btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-lock"></span> Lesson 1</button>
                            <button type="button" class="btn btn-danger btn-lg btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-lock"></span> Lesson 2</button>
                            <button type="button" class="btn btn-info btn-lg btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-lock"></span> Lesson 3</button>
                            <button type="button" class="btn btn-warning btn-lg btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-lock"></span> Lesson 4</button>
                            <button type="button" class="btn btn-success btn-lg btn-circle" data-toggle="modal" data-target="#myModal"><span class="fa fa-lock"></span> Lesson 5</button>
 -->                        </div>
                       
                    </div> 
                   
        </div>
        </div>
    </section>
   
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Your Website 2015</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    <li><a href="http://www.twitter.com"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="http://www.facebook.com"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                    </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}
 {% block model-define %}
 <div id="reply_box_list">
     {% for msg in newmsgs %}
     <div class="modal fade" id="reply_box{{ msg.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
         <div class="modal-dialog">
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                     <h4>From: {{msg.sender}}</h4>
                 </div>
                 <div class="modal-body">
                     <p>{{msg.timestamp}}</p>
                     <p>{{msg.text}}</p>
                     <form role="form" action="{% url 'reply' msg.sender username msg.id %}" method="post">
                         <input type="text" name="textarea1" style="width : 300px;" required>
                             <button type="submit" class="btn btn-primary btn-sm">Reply</button>
                             <a href={% url 'dismiss' msg.id %} class="btn btn-primary btn-sm">Dismiss</a>
                             {% csrf_token %}
                             </form>
                 </div>
             </div>
         </div>
     </div>
     {% endfor %}
 </div>
{% endblock %}

{% block origin-script %}
{% endblock %}


    {% block script-content %}
    {% load static %}
    <script src="{% static "js/store.js"%}"></script>
    {% endblock %}